.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 20px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-sizing: border-box; /* Include padding in the element's total width */
}

.header-icons {
  display: flex;
  align-items: center;
}

.header-icons button,
.header-icons span {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.header-icons img {
  margin-right: 5px;
  width: 20px; /* Adjust size as needed */
  height: auto;
}

.logo {
  height: 40px;
}

.search-bar {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 50%;
  padding: 10px;
  border-radius: 2px;
}

.login-btn {
  font-size: medium;
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 20px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.login-btn img {
  margin-right: 8px;
}

.login-btn:hover {
  background-color: #0056b3;
}

